<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .container{
      margin-top: 150px;
      margin-left: 510px;
      
    }
    .card-header{
      font-size: large;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-4">

        <div class="card text-black mb-3" style="max-width: 20rem;">
          <div class="card-header bg-primary text-white"><h4>User Login</h4></div>
          <div class="card-body">
            <p class="card-text">
                <form method="POST">
                {% csrf_token %}
                <fieldset>


                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
                    
                  </div>


                  <div class="form-group">
                    <label for="username">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
                    
                  </div>

                  <div class="form-group">
                
                    <input type="submit" class="form-control bg-primary text-white"  name="submit" value="Login">
                    
                  </div>


                  

                </fieldset>
              </form>









            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block content %}


{% endblock content%}
  
</body>
</html>